<p id="notice"><%= notice %></p>

<h1>Pictures</h1>


<div class="row gy-5 row-cols-1 row-cols-sm-2 row-cols-lg-4">
      <% @pictures.each do |picture| %>
        <div class="col">
          <div class="card text-center" style="width 20rem; height: 30rem;">
            <%= image_tag picture.url, class: 'card-img-top', style: 'max-width: 100%; height: 20rem;' %>
            <div class="card-body">
              <%= picture.title %>
              <p class="card-text"><%= picture.description %></p>
              <%= link_to 'Show', picture, class: 'btn btn-primary', style: 'color: white;'%>
            </div>
          </div>
        </div>
      <% end %>
</div>

<br>

<%= link_to 'New Picture', new_picture_path %>
